<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
       <h:panelGroup id ="panelEditar">
           <div id ="datosAviso" align="center">

                <h:form id="form" enctype="multipart/form-data">
                    <table border="2" width="80%">
                        <thead>
                            <tr>
                                <th align="center"> <h:outputText value="AVISO: #{avisoBean.id}" /></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>UBICACION:</td>
                                <td>
                                    
                                Latitud:
                                <h:outputText  value="#{avisoBean.latitud}" />
                                Longitud:
                                <h:outputText value="#{avisoBean.longitud}" /></td>
                            </tr>
                            <tr>
                                <td>DESCRIPCION:</td>
                                <td><h:inputTextarea disabled="true" value="#{avisoBean.descripcion}" cols="100" rows="5" /></td>
                            </tr>
                            <tr>
                                <td>URGENCIA:</td>
                                <td>
                                    <h:selectOneRadio disabled="true" value="#{avisoBean.urgencia}">
                                        <f:selectItem itemValue="1" itemLabel="Leve" />
                                        <f:selectItem itemValue="2" itemLabel="Normal" />
                                        <f:selectItem itemValue="3" itemLabel="Grave" />
                                    </h:selectOneRadio></td>
                            </tr>
                            <tr>    
                                <td>TIPO:</td>
                                <td><h:outputText value="#{avisoBean.tipo}" /></td>
                            </tr>
                            <tr>    
                                <td>EMAIL:</td>
                                <td><h:outputText value="#{avisoBean.email}" /></td>
                            </tr>
                            <tr><td></td><td>       <h:commandButton action="#{avisoBean.editarAviso(avisoBean.id)}" value="Modificar aviso"/></td></tr>
                        </tbody>
                    </table>
                    <h:commandButton value="Volver"/>
                </h:form>

               
                  
               
            </div>

        </h:panelGroup>
    </h:body>
</html>

