<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
       <h:panelGroup id ="panelEditar">
            <div id ="editar">

                <h:form id="form" enctype="multipart/form-data">
                    <table border="2" width="80%">
                        <thead>
                            <tr>
                                <th>CAMPOS</th>
                                <th>INPUT</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>UBICION:</td>
                                <td>
                                    
                                Latitud:
                                <h:inputText value="#{avisoBean.avisoSeleccionado.latitud}" />
                                Longitud:
                                <h:inputText value="#{avisoBean.longitud}" /></td>
                            </tr>
                            <tr>
                                <td>DESCRIPCION:</td>
                                <td><h:inputTextarea value="#{avisoBean.descripcion}" cols="100" rows="5" /></td>
                            </tr>
                            <tr>
                                <td>URGENCIA:</td>
                                <td>
                                    <h:selectOneRadio value="#{avisoBean.urgencia}">
                                        <f:selectItem itemValue="1" itemLabel="Leve" />
                                        <f:selectItem itemValue="2" itemLabel="Normal" />
                                        <f:selectItem itemValue="3" itemLabel="Grave" />
                                    </h:selectOneRadio></td>
                            </tr>
                            <tr>    
                                <td>TIPO:</td>
                                <td><h:inputText value="#{avisoBean.tipo}" /></td>
                            </tr>
                            <tr>    
                                <td>EMAIL:</td>
                                <td><h:inputText value="#{avisoBean.email}" /></td>
                            </tr>
                        </tbody>
                    </table>
                    <h:commandButton value="Crear Aviso"/>
                </h:form>

                <h:form>
                    <h:commandButton onclick="ocultarEditar()" value="Volver"></h:commandButton>
                </h:form>
            </div>

        </h:panelGroup>
    </h:body>
</html>

