<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Trabajador Index</title>
    </h:head>
    <script type="text/javascript">
        function mostrarTabla() {
            document.getElementById("lista").style.display = "block";
            ocultarEditar();
        }

        function mostrarEditar() {
            document.getElementById("editar").style.display = "block";
        }

        function ocultarEditar() {
            document.getElementById("editar").style.display = "none";
        }

        function ocultarTabla() {
            document.getElementById("lista").style.display = "none";
        }

        function alCargar() {
            ocultarEditar();
            ocultarTabla();
        }

        function verTodos() {
            mostrarTabla();
            ocultarEditar();
            document.getElementById("menu:inputEmail").value = "";
        }

    </script>

    <h:body onload="alCargar()">
        <div id="menu" align="center">
            <table border="2"><tr><td><h1>Menu del trabajador</h1></td></tr>
                <tr><td>
                        <h:form>
                            <table align="center" >
                                <tr><td> <h:outputLabel id ="ol" value="Busqueda por email: "/></td><td> 
                                        <h:inputText onkeypress="mostrarTabla()" id="inputEmail" value="#{avisoBean.inputEmail}">
                                            <f:ajax event="keyup" execute="inputEmail" render="panelLista inputEmail inputClave panelEditar" listener="#{avisoBean.recargarPorEmail(event)}" >
                                            </f:ajax>
                                        </h:inputText>
                                    </td></tr>

                                <tr><td> <h:outputLabel id ="ol2" value="Busqueda por descripcion: "/></td><td> 
                                        <h:inputText size="100" onkeypress="mostrarTabla()" id="inputClave" value="#{avisoBean.inputPalabras}">
                                            <f:ajax event="keyup" execute="inputEmail" render="panelLista inputEmail panelEditar" listener="#{avisoBean.recargarPorPalabrasClave(event)}" >
                                            </f:ajax>
                                        </h:inputText>
                                    </td></tr>
                                <tr><td> <h:commandButton onclick="mostrarTabla()" value="Ver todos">
                                            <f:ajax event="click" execute="inputEmail" render="panelLista inputEmail inputClave panelEditar" listener="#{avisoBean.recargarTodos(event)}" >
                                            </f:ajax>
                                        </h:commandButton>
                                        <h:commandButton onclick="mostrarTabla()" value="Ver abiertos">
                                            <f:ajax event="click" execute="inputEmail" render="panelLista inputEmail inputClave panelEditar" listener="#{avisoBean.recargarTodos(event)}" >
                                            </f:ajax>
                                        </h:commandButton>
                                    </td><td> 
                                        <h:commandButton action="#{avisoBean.editarAviso(null)}" value="Crear aviso"/>
                                            </td></tr>

                            </table>
                        </h:form>
                    </td></tr>  </table>
        </div>
        <hr/>
        <h:panelGroup id ="panelLista">
            <div id="lista" align="center" style="display:block" >
                <f:view>
                    <h:dataTable  id="mitabla" value="#{avisoBean.listaAvisos}" var="item" border="1">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Ubicacion"/>
                            </f:facet>
                            <h:outputText value="#{item.latitud},#{item.longitud} "/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Name"/>
                            </f:facet>
                            <h:outputText value="#{item.emailUsuario}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Tipo"/>
                            </f:facet>  
                            <h:outputText value="#{item.tipo}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Descipcion"/>
                            </f:facet>  
                            <h:outputText value="#{item.descripcion}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Urgencia"/>
                            </f:facet> 
                            <h:outputText rendered="#{item.urgencia==1}" value="Leve" />
                            <h:outputText rendered="#{item.urgencia==2}" value="Normal" />
                            <h:outputText rendered="#{item.urgencia==3}" value="Grave" />
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Estado"/>
                            </f:facet>  
                            <h:outputText value="#{item.estado}"/>
                        </h:column>
                        <h:column>
                            <h:form>
                                  <h:commandButton action="#{avisoBean.verAviso(item)}" value="Ir al aviso"/>
                            </h:form>
                        </h:column>

                    </h:dataTable>

                </f:view>
            </div>
        </h:panelGroup>
        <h:form>

        </h:form>



    </h:body>
</html>

